extends layout

block content
  h1= title
  p Welcome to #{title}
  textarea#cost-input
  div#cost-result

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
  script(src='../javascripts/report.js')


